{%extends 'base.html'%}

{%block title%}Resources{%endblock%}

{%block content%}

<div class="container">
	<div class="row">
		<div class="col-sm-2"></div>
		<div class="col-sm-8">
			<h3 style="text-align: center;">Drug Resources</h3>
			<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search by name..">
			<table class="table table-striped table-hover table-bordered" id="myTable">
				<th>Drug Name</th>
				<th>Generic</th>
				<th>Manufacturer</th>
				{%for d in drugs%}
				<tr>
					<td><a href="{{d.1}}">{{d.0}}</a></td>
					<td>{{d.2}}</td>
					<td>{{d.3}}</td>
				</tr>
				{%endfor%}
			</table>
		</div>
		<div class="col-sm-2"></div>
	</div>
</div>

<script>
function myFunction() {
  var input, filter, table, tr, td, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td1 = tr[i].getElementsByTagName("td")[0];
    td2 = tr[i].getElementsByTagName("td")[1];
    if (td1) {
      if ((td1.innerHTML.toUpperCase().indexOf(filter) > -1) || (td2.innerHTML.toUpperCase().indexOf(filter) > -1) ) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}
</script>
{%endblock%}
